/* Prettifiers */

/* Lifted corners */

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

.drop-shadow {
    position:relative;
    margin:32px 0 0 0; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow a{
  color:#003366;
}

.drop-shadow + .drop-shadow{
  margin-top:53px;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.accessible{
  display:none!important;
}

/* Styles */

*{
  margin:0;
  padding:0;
}

body{
  background-color:#66CCCC;
}

h1, h2{
  font-family: ronnia,sans-serif;
  font-style: normal;
  font-weight: 800;
  color:#003366;
  
}

h1 + small, #description, #methods, .box_content, #footer {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

h3, .methods dfn{
  font-family: 'Courier New','Courier',monospace;
}

h1, h1 + small{
  font-style:italic;
  text-align:center;
}

h1{
  text-shadow: #fff 3px 3px 0px;
  font-size:69px;
  padding-top:30px;
  border-top:1px solid #B3E6E6;
  padding-bottom:19px;
}

h1 + small{
  font-size: 15px;
  color:#fff;
  display:block;
  border-bottom:1px solid #B3E6E6;
  padding-bottom:25px;
}

#description{
  padding:48px 20px 0;
  color:#fff;
}

h2{
  font-size:22px;
  text-shadow: #95DCDC 1px 1px 0;
  padding-left:20px;
  padding-top:78px;
  text-transform:uppercase;
  clear:both;
}

.box{
  width:100%;
}

.methods li{
  list-style: none;
  color:#999;
  font-size:15px;
  font-weight:normal;
}

h3{
  display:block;
  background-color:#003366;
  color:#fff;
  font-size:19px;
  padding:20px;
}

h3 .argument, #methods dfn{
  color:#FF0000;
}

.box_content{
  padding:27px 20px;
}

.methods dfn{
  display:block;
  padding-top:18px;
  font-style:normal;
  font-weight:bold;
  font-size:19px;
}

.methods .object_type{
  color:#999999;
  font-size:15px;
}

.download p, .issues_collaboration p{
  padding-bottom:13px;
}

.console samp{
  padding:7px 20px;
  display:block;
  margin-bottom:7px;
}

.console .range{
  color:#CC3300;
}

.console .action{
  color: #999999;
}

.console .label{
  color: #0066CC;
}

.console, .gist_container, .download, .issues_collaboration{
  float: left;
  width:48%;
}

.console{
  margin-right:2%;
  max-height:510px;
  min-height:510px;
  overflow:auto;
  padding-bottom:7px;
}

.gist_container, .issues_collaboration{
  margin-left:2%;
}

.download, .console{
  margin-right:2%;
}

.gist_container{
  margin-top:32px;
  font-size:12px;
}

#footer{
  padding-top:80px;
  clear:both;
  font-size:12px;
}

#footer p{
  padding-top:9px;
  padding-bottom:9px;
  text-align:center;
  color:#fff;
  border-top:1px solid white;
}

#footer a{
  color:#003366;
}

/*  Default Layout: 992px. 
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.*/

body {
   width: 80%;
   padding: 46px 0;
   color: #999999;
   margin:0 auto;
   -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}



/*     Tablet Layout: 768px.
       Gutters: 24px.
       Outer margins: 28px.
       Inherits styles from: Default Layout.*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
   
   body {
       width: 712px;
       padding: 48px 28px 60px;
   }

   .console {
     max-height:540px;
     min-height:540px;
   }

}



/*     Mobile Layout: 320px.
       Gutters: 24px.
       Outer margins: 34px.
       Inherits styles from: Default Layout.
*/

@media only screen and (max-width: 767px) {
   
   body {
       width: 252px;
       padding: 48px 34px 60px;
   }
   
   h2{
     font-size:18px !important;
/*     padding-left:0px !important;*/
   }
   
   .download h2{
     height:39px;
   }
   
}



/*     Wide Mobile Layout: 480px.
       Gutters: 24px.
       Outer margins: 22px.
       Inherits styles from: Default Layout, Mobile Layout.*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
   
   body {
       width: 436px;
       padding: 36px 22px 48px;
   }
   
   
   
}